<%- include("partials/navbar.ejs") %>
<h1 class="cal_heading1">Calculators</h1>
<section class="weired">
    <section class="four_cal1">
        <div class="temp3">
            <div><button id="blind" class="four_cal_buttons">Blind feed</button></div>
            <div><button id="intake" class="four_cal_buttons">Daily feed</button></div>
            <div><button id="number" class="four_cal_buttons">Number</button></div>
            <div><button id="biomass" class="four_cal_buttons">Biomass</button></div>
        </div>
    </section>
    <section class="blind_cal_section1"> 
        <div class="blind_cal">
            <h2 class="feed_heading">Daily feed</h2>
            <form id="calculatorForm" action="/daily-feed" class="blind_cal_box" method="post" >
                <label for="number1" class="input1">Number =</label>
                <input  type="number" id="number" name="number1" class="socket1"><br><br>
                <label for="count1" class="input21">Count =</label>
                <input type="number" id="count" name="count1" class="socket1"><br><br>
                <label for="feed" class="input3">Feed Name =</label>
                <select id="feed" class="socket1">
                    <option value="no">select</option>
                    <option value="ifeed">ifeed</option>
                    <option value="avanti">avanti</option>
                    <option value="daksha">daksha</option>
                  </select><br><br>
                <input type="submit" value="calculate" class="submit" >
                <input type="reset" value="Reset" class="reset">
              </form>
        </div>
        <div class="blind_cal" id="change" style = " <% if (numberd !== "" || countd !== "") { %>background-color: #00001a;<% } %>">
            <%
            var awb = (1000 / parseInt(countd)).toFixed(2);
            %>
            
            <% if ( numberd === "" && countd ==="") { %>
                <h2 class="default_data_heading">Enter required data</h2>
                <p class="default_data_sub">Number:-<span class="fade">Number of shrimps within the pond.</span></p>
                <p class="default_data_sub1">Count:-<span class="fade">Number of shrimp per kilogram</span></p>
                <p class="default_data_sub1">Feed Name:-<span class="fade">Name the feed you're using.</span></p>
                <p class="default_data_sub2">**The daily feed calculations provided here <br>are for estimation purposes only. Individual <br>shrimp farming conditions may require <br>some adjustments.**</p>
            <% } else { %>
                <% if (awb >= 0.10 && awb <= 1.00) { %>
                    <% var intial_value = 0.48; %>
                    <% var intial_input = 0.10; %>
                    <% var lmorg = (awb - intial_input) * 100; %>
                    <% var dasara = (lmorg * 0.07) + intial_value; %>
                    <% var result = (dasara / 100000) * numberd; %>
                
                    <p class="result">Result:</p>
                    <p class="result1">Amount of feed required:</p>
                    <p class="result2"><%= (result) %> kg (approx)</p>
                <% } else if (awb >= 1.01 && awb <= 1.55) { %>
                    <% var intial_value = 6.83; %>
                    <% var intial_input = 1.01; %>
                    <% var lmorg = (awb - intial_input) * 100; %>
                    <% var dasara = (lmorg * 0.06) + intial_value; %>
                    <% var result = (dasara / 100000) * numberd; %>
                
                    <p class="result">Result:</p>
                    <p class="result1">Amount of feed required:</p>
                    <p class="result2"><%= (result).toFixed(3) %> kg (approx)</p>
                <% } else if (awb >= 1.56 && awb <= 2.40) { %>
                    <% var intial_value = 10.13; %>
                    <% var intial_input = 1.56; %>
                    <% var lmorg = (awb - intial_input) * 100; %>
                    <% var dasara = (lmorg * 0.025) + intial_value; %>
                    <% var result = (dasara / 100000) * numberd; %>
                
                    <p class="result">Result:</p>
                    <p class="result1">Amount of feed required:</p>
                    <p class="result2"><%= (result).toFixed(3) %> kg (approx)</p>
                <% } else if (awb >= 2.41 && awb <= 3.00) { %>
                    <% var intial_value = 14.00; %>
                    <% var intial_input = 2.41; %>
                    <% var lmorg = (awb - intial_input) * 100; %>
                    <% var dasara = (lmorg * 0.025) + intial_value; %>
                    <% var result = (dasara / 100000) * numberd; %>
                
                    <p class="result">Result:</p>
                    <p class="result1">Amount of feed required:</p>
                    <p class="result2"><%= (result).toFixed(3) %> kg (approx)</p>
                <% } else if (awb >= 3.01 && awb <= 3.19) { %>
                    <% var intial_value = 15.48; %>
                    <% var intial_input = 3.01; %>
                    <% var lmorg = (awb - intial_input) * 100; %>
                    <% var dasara = (lmorg * 0.025) + intial_value; %>
                    <% var result = (dasara / 100000) * numberd; %>
                
                    <p class="result">Result:</p>
                    <p class="result1">Amount of feed required:</p>
                    <p class="result2"><%= (result).toFixed(3) %> kg (approx)</p>
                <% } else if (awb >= 3.20 && awb <= 7.03) { %>
                    <% var intial_value = 15.995; %>
                    <% var intial_input = 3.20; %>
                    <% var lmorg = (awb - intial_input) * 100; %>
                    <% var dasara = (lmorg * 0.02) + intial_value; %>
                    <% var result = (dasara / 100000) * numberd; %>
                
                    <p class="result">Result:</p>
                    <p class="result1">Amount of feed required:</p>
                    <p class="result2"><%= (result).toFixed(3) %> kg (approx)</p>
                <% } else if (awb >= 7.04 && awb <= 9.00) { %>
                    <% var intial_value = 23.700; %>
                    <% var intial_input = 7.04; %>
                    <% var lmorg = (awb - intial_input) * 100; %>
                    <% var dasara = (lmorg * 0.025) + intial_value; %>
                    <% var result = (dasara / 100000) * numberd; %>
                
                    <p class="result">Result:</p>
                    <p class="result1">Amount of feed required:</p>
                    <p class="result2"><%= (result).toFixed(3) %> kg (approx)</p>
                <% } else if (awb >= 9.01 && awb <= 12.24) { %>
                    <% var intial_value = 28.625; %>
                    <% var intial_input = 9.01; %>
                    <% var lmorg = (awb - intial_input) * 100; %>
                    <% var dasara = (lmorg * 0.031) + intial_value; %>
                    <% var result = (dasara / 100000) * numberd; %>
                
                    <p class="result">Result:</p>
                    <p class="result1">Amount of feed required:</p>
                    <p class="result2"><%= (result).toFixed(3) %> kg (approx)</p>
                <% } else if (awb >= 12.25 && awb <= 16.66) { %>
                    <% var intial_value = 38.669; %>
                    <% var intial_input = 12.25; %>
                    <% var lmorg = (awb - intial_input) * 100; %>
                    <% var dasara = (lmorg * 0.01) + intial_value; %>
                    <% var result = (dasara / 100000) * numberd; %>
                
                    <p class="result">Result:</p>
                    <p class="result1">Amount of feed required:</p>
                    <p class="result2"><%= (result).toFixed(3) %> kg (approx)</p>
                <% } else if (awb >= 16.67 && awb <= 19.99) { %>
                    <% var intial_value = 43.089; %>
                    <% var intial_input = 16.67; %>
                    <% var lmorg = (awb - intial_input) * 100; %>
                    <% var dasara = (lmorg * 0.012) + intial_value; %>
                    <% var result = (dasara / 100000) * numberd; %>
                
                    <p class="result">Result:</p>
                    <p class="result1">Amount of feed required:</p>
                    <p class="result2"><%= (result).toFixed(3) %> kg (approx)</p>
                <% } else if (awb >= 20.00 && awb <= 25.00) { %>
                    <% var intial_value = 47.085; %>
                    <% var intial_input = 20.00; %>
                    <% var lmorg = (awb - intial_input) * 100; %>
                    <% var dasara = (lmorg * 0.01) + intial_value; %>
                    <% var result = (dasara / 100000) * numberd; %>
                
                    <p class="result">Result:</p>
                    <p class="result1">Amount of feed required:</p>
                    <p class="result2"><%= (result).toFixed(3) %> kg (approx)</p>
                <% } %>
                
            <% } %>
        </div>
    </section>
    <section class="extra1">
        <h1 class="cal_experimental">Experimental</h1>
        <section class="four_cal_dummy">
            <div class="temp3">
                <div><button id="" class="four_cal_buttons">Weightage</button></div>
            </div>
        </section> 
    </section>
</section>
<%- include("partials/footer.ejs") %>
<script>
    const button1 = document.getElementById("blind");
    button1.addEventListener("click", function(){
        window.location.href = '/calculator';
        button1.style.background = "black";
    }); 

    button1.addEventListener("mouseover", function(){
        button1.style.background ="#00001a";
        button1.style.color = "white";
    });

    button1.addEventListener("mouseout", function(){
        button1.style.background ="";
        button1.style.color = "";
    });
    const button2 = document.getElementById("intake");
    button2.addEventListener("click", function(){
        window.location.href = '/intake';
        button2.style.background = "black";
    }); 

    button2.addEventListener("mouseover", function(){
        button2.style.background ="#00001a";
        button2.style.color = "white";
    });

    button2.addEventListener("mouseout", function(){
        button2.style.background ="";
        button2.style.color = "";
    });
    const button3 = document.getElementById("number");
    button3.addEventListener("click", function(){
        window.location.href = '/number';
        button3.style.background = "black";
    }); 

    button3.addEventListener("mouseover", function(){
        button3.style.background ="#00001a";
        button3.style.color = "white";
    });

    button3.addEventListener("mouseout", function(){
        button3.style.background ="";
        button3.style.color = "";
    });
    const button4 = document.getElementById("biomass");
    button4.addEventListener("click", function(){
    window.location.href = '/biomass';
    button4.style.background = "black";
    }); 

    button4.addEventListener("mouseover", function(){
    button4.style.background ="#00001a";
    button4.style.color = "white";
    });

    button4.addEventListener("mouseout", function(){
    button4.style.background ="";
    button4.style.color = "";
    });




</script>
